@model TestWebApplication2.Models.Player

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    <h4>Футболист</h4>
    @Html.HiddenFor(m=>m.Id)
    <p>
        Имя игрока <br />
        @Html.EditorFor(m => m.Name)
    </p>
    <p>
        Возраст <br />
        @Html.EditorFor(m => m.Age)
    </p>
    <p>
        Позиция <br />
        @Html.EditorFor(m => m.Position)
    </p>
    <p>
        Команда <br />
        @Html.DropDownListFor(m => m.TeamId, ViewBag.Teams as SelectList)
    </p>
    <p>
        <input type="submit" value="Сохранить"/>
    </p>
}

<div>
    @Html.ActionLink("К списку игроков", "Index")
</div>

